body{
  
  color: #00b386;
}

html { 
  background: url(../media/railroad-tracks-163518_1280.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,h2,h3,h4{}
p{}
div{}

$fieldElementPadding:10px;


@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-app{
  @include centerer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.filter-body input{
  border-radius: 5px;
  
}
.person-table-body{
  
}
.form{
  display: table;
  border-spacing: $fieldElementPadding;
}

.form label {
  margin-right: 5px;
  display: table-cell;
}
.form input {
  margin-left: 5px;
  display: table-cell;
  border-radius: 5px;
  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
}
.form .field-element{
  display: table-row;
}
.form .field-element2{
  display: table-row;
}

.styleSheetBanner {
  border-style: solid;
  border-radius: 25px; 
  border-color: orangered;
  background-color: yellow
}
.styleSheetBanner p {
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width: 600px){

}